.btn {
    position: relative;
    background: linear-gradient(145deg, #00e18c, #00e36a);
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border: none;
    border-radius: 6px;
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    cursor: pointer;
}


.btn .badge {
    position: absolute;
    top: -15px;
    right: -15px;
    padding: 3px 9px;
    border-radius: 50%;
    background: #33383d;
    color: white;
}

.btn:hover {
    backface-visibility: visible;
    transform: scale(1.06);
    -webkit-transform: scale(1.06);
    -moz-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -o-transform: scale(1.06);
}

.btn:active {
    transform: scale(1.06);
    -webkit-transform: scale(1.06);
    -moz-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -o-transform: scale(1.06);
}