.details {
    list-style: none;
    margin-left: -35px;
}

.details h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.details li {
    margin: 10px 0px;
}

.dropDetails {
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1.3px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: -2rem;
    margin-bottom: 0rem;
}

.dropDetails img {
    width: 150px;
    height: 150px;
}

.dropDetails li {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
}

.dropDetails li p {
    font-size: 1.1em;
    font-weight: 600;
}